@import '../var';

.form-alert {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50000000000000;
  transition: all .3s;
  align-items: center;
  justify-content: center;
  display: none;

  &__body {
    padding: 20px;
    font-size: 24px;
    color: $main-dark;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
  }
}