@import '../var';

.main-block {
  min-height: 100vh;
  padding-top: 282px;
  position: relative;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  .decor {
    position: absolute;
    width: 101%;
    bottom: -1px;
    left: 0;
    z-index: 5;
  }

  &::after {
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
  }

  &::before{
    content: '';
    background: radial-gradient(50% 45.92% at 50% 45.92%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.06);
    margin-bottom: 40px;
    position: relative;
    z-index: 10;
  }

  &__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    font-family: $family-second;
    color: #FFFFFF;
    position: relative;
    z-index: 10;
  }

  &__button {
    position: relative;
    z-index: 10 !important;
    margin-top: 36px;
  }
}

@media (max-width: 767px) {
  .main-block {
    min-height: auto;
    padding-top: 144px;
    padding-bottom: 120px;

    &__title {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 16px;
    }

    &__desc {
      font-size: 16px;
      line-height: 24px;
    }
  }
}