.table-price
  img(src='../media/icon/rect3.svg' alt='rect').table-price__top-rect
  img(src='../media/icon/rect3.svg' alt='rect').table-price__bottom-rect

  .container
    .row
      .col-12
        .table-price__title Таблица цен на услуги
        .table-price__desc
          span Ориентировочная стоимость работ на прокладку одного п.м. трубы методом ГНБ (без стоимости трубы) (включая НДС 20%). Цены актуальны на сегодня. Чтобы получить Коммерческое Предложение Вы можете позвонить по телефону
          a(href='tel:+380664742281')  +38 (066) 474-22-81
          span  или отправить заявку на почту
          a(href='mailto:tanezd2106@gmail.com')  tanezd2106@gmail.com
          span  с приложением проектных документов.
        table.table-price__table
          thead
            tr
              td
                .td-body
                  .td-body__name Диаметр трубы
                  .td-body__desc
              td
               .td-body
                  .td-body__name Объем работ
                  .td-body__desc до 250 м.п.
              td
                .td-body.td-body--end
                  .td-body__name
                  .td-body__desc свыше 250 м.п.
          tbody
            tr
              td
                .td-body 110
              td
                .td-body 2 700,00
              td
                .td-body 2 500,00
            tr
              td
                .td-body 110
              td
                .td-body 2 700,00
              td
                .td-body 2 500,00
            tr
              td
                .td-body 110
              td
                .td-body 2 700,00
              td
                .td-body 2 500,00
            tr
              td
                .td-body 110
              td
                .td-body 2 700,00
              td
                .td-body 2 500,00
            tr
              td
                .td-body 110
              td
                .td-body 2 700,00
              td
                .td-body 2 500,00
            tr
              td
                .td-body 110
              td
                .td-body 2 700,00
              td
                .td-body 2 500,00
