@import '../../var';

.documents {
  padding: 278px 0 60px 0;
  background-color: #FAFAFA;
  position: relative;
  overflow: hidden;

  &__decor-top {
    position: absolute;
    width: 101%;
    top: -1px;
    left: 0;

    &--gray {
      z-index: 12;
      transform: rotate(180deg);

      &--bottom {
        transform: rotate(0);
        top: 80px;
      }
    }
  }

  &__hex {
    content: '';
    position: absolute;
    z-index: 15;
    width: 183px;
    height: 154.81px;
    object-fit: contain;
    object-position: center;
    right: 0;
    top: 1px;

    &--bottom {
      top: auto;
      right: auto;
      left: -17px;
      bottom: -17px;
      transform: rotateY(180deg);
    }
  }

  &__title {
    margin-bottom: 64px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: $main-dark;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: calc(100% / 4 - 20px);
    margin-bottom: 40px;
    cursor: pointer;

    img {
      width: 100%;
      transition: all .3s;
      filter: grayscale(100%);
    }

    &:hover {
      img {
        filter: none;
      }
    }

    .name {
      margin-top: 16px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      font-family: $family-second;
      color: $main-dark;
    }

    .form-size {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      font-family: $family-second;
      color: $main-gray;
    }
  }
}

@media (max-width: 767px) {
  .documents {
    padding: 120px 0 51px 0;

    &__hex {
      display: none;
    }

    &__title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
    }

    &__item {
      width: calc(100% / 2 - 10px);
      margin-bottom: 24px;
    }
  }
}