@import "../../var";

.about-map {
  padding: 278px 0 251px 0;
  background: #FAFAFA;
  position: relative;
  overflow: hidden;

  &__decor-top {
    position: absolute;
    width: 101%;
    top: -1px;
    left: 0;
  }

  &__decor-bottom {
    position: absolute;
    width: 101%;
    bottom: -1px;
    left: 0;
    transform: rotate(180deg);
  }

  &__content {
    position: relative;
  }

  &__info {
    position: fixed;
    top: 300px;
    left: 100px;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.04), 0 41.7776px 33.4221px rgba(0, 0, 0, 0.0287542), 0 22.3363px 17.869px rgba(0, 0, 0, 0.0238443), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.02), 0 6.6501px 5.32008px rgba(0, 0, 0, 0.0161557), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.0112458);
    padding: 20px 16px 16px 16px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #fff;
      top: -4px;
      left: 7px;
      transform: rotate(45deg);
      z-index: 1;
    }

    .name {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      font-family: $family-second;
      color: $main-dark;
      position: relative;
      z-index: 2;
    }

    .count {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      font-family: $family-second;
      color: $main-dark;
      position: relative;
      z-index: 2;
    }
  }

  &__map {
    position: absolute;
    right: 0;
    top: -10px;

    path {
      cursor: pointer;
      transition: all .3s;

      &.active {
        fill: $yellow-main;
        fill-opacity: 1;
      }

      &:hover {
        fill: $yellow-main;
        fill-opacity: .6;
      }
    }
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: $main-dark;
    margin-bottom: 48px;
  }

  &__item {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }

    .count {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 48px;
      text-transform: uppercase;
      color: $main-dark;
      margin-bottom: 8px;
    }

    .name {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      font-family: $family-second;
      color: $main-dark;
    }
  }
}

@media (max-width: 1199px) {
  .about-map {
    &__map {
      svg {
        width: 600px;
      }
    }
  }
}

@media (max-width: 991px) {
  .about-map {
    padding: 120px 0;

    &__title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 32px;
    }

    &__items {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
    }

    &__item {
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }

      .count {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 4px;
      }

      .name {
        font-size: 12px;
        line-height: 18px;
      }
    }

    &__map {
      position: relative;
      top: 0;

      svg {
        width: 100%;
        height: auto;
      }
    }

    &__info {
      display: none;
    }
  }
}