.cases-slider.cases-slider--index
  img(alt='rect' src='../media/icon/rect3.svg').cases-slider__rect
  .container
    .row
      .col-12
        .cases-slider__title Выполненые проекты
        .cases-slider__body.owl-carousel.owl-theme
          .cases-slider__item
            img(alt='case' src='../media/image/cases/2.jpg')
            .name Название обьекта
            .date ГНБ, 2018

          .cases-slider__item
            img(alt='case' src='../media/image/cases/3.jpg')
            .name Название обьекта
            .date ГНБ, 2018

          .cases-slider__item
            img(alt='case' src='../media/image/cases/4.jpg')
            .name Название обьекта
            .date ГНБ, 2018

          .cases-slider__item
            img(alt='case' src='../media/image/cases/1.jpg')
            .name Название обьекта
            .date ГНБ, 2018

include ./case-modal