footer.footer
  .container
    .row
      .col-12
        .footer__top
          .footer__nav.navigations
            ul
              li
                a(href='/services.pug') Услуги
              li.active
                a(href='/about.html') О компании
              li
                a(href='/cases.html') Наши работы
              li
                a(href='/tools.html') Спецтехника
              li
                a(href='/contacts.html') Контакты

          .footer__socials
            a.social(href='#')
              .social__icon(
                style="mask: url(../media/icon/facebook.svg) no-repeat center; " +
                "-webkit-mask: url(../media/icon/facebook.svg) no-repeat center;" +
                "-webkit-mask-size: contain;" +
                "mask-size: contain"
                )
            a.social(href='#')
              .social__icon(
                style="mask: url(../media/icon/telegram.svg) no-repeat center;" +
                "-webkit-mask: url(../media/icon/telegram.svg) no-repeat center;" +
                "-webkit-mask-size: contain;" +
                "mask-size: contain"
                )
            a.social(href='#')
              .social__icon(
                style="mask: url(../media/icon/viber.svg) no-repeat center; " +
                "-webkit-mask: url(../media/icon/viber.svg) no-repeat center;" +
                "mask-size: contain;" +
                "-webkit-mask-size: contain;"
                )

        .footer__bottom
          .footer__coop 2021 © ООО "Управление механизацией №1". Все права защищены
          a.footer__political(href='#' target='_blank') Политика конфиденциальности