header.header.header--content
  .header__left
    a.header__logo(href='/')
      img.logo__img(src='../media/icon/logo-color.svg' alt='GBN')
      .logo__text Управление механизацией №1

    nav.header__nav.navigations
      ul
        li.active
          a(href='/services.html') Услуги
        li
          a(href='/about.html') О компании
        li
          a(href='/cases.html') Наши работы
        li
          a(href='/tools.html') Спецтехника
        li
          a(href='/contacts.html') Контакты

      .main-button.main-button--color.header__navbutton.btn-to-form Связаться с нами

  .header__right
    a.header__number(href='tel:88001111111') 8 800 111 11 11
    .main-button.main-button--color.btn-to-form Связаться с нами

  .header__humb
    img(src='../media/icon/humb.svg' alt='menu')