.pallet-services
  .container
    .row
      .col-12
        a(href='/single-services.html').big-plate(style='background-image: url(../media/image/services/1.jpg)')
          .big-plate__name Горизонтальное направленное бурение
          .pallet-services__more
            span Подробнее
            .icon

      .col-12.col-lg-4
        a(href='/single-services.html').small-plate(style='background-image: url(../media/image/services/2.jpg)')
          .small-plate__name Микротонеллирование
          .pallet-services__more
            span Подробнее
            .icon

      .col-12.col-lg-4
        a(href='/single-services.html').small-plate(style='background-image: url(../media/image/services/3.jpg)')
          .small-plate__name Строительство инжерных коммуникаций
          .pallet-services__more
            span Подробнее
            .icon

      .col-12.col-lg-4
        a(href='/single-services.html').small-plate(style='background-image: url(../media/image/services/4.jpg)')
          .small-plate__name Другие услуги
          .pallet-services__more
            span Подробнее
            .icon