.extension
  .container
    .row
      .col-6
        img.extension__img(alt='extension' src='./media/image/extension.png')
      .col-6
        .extension__title Couponation chrome extension
        .extension__list-item Offers only valid coupons while you shop online
        .extension__list-item 12,000+ shops
        .extension__list-item Full-auto coupon activation
        .extension__list-item.bold Completely free!
        .extension__bottom
          a.extension__link(href='#') Add to Chrome
          .extension__rate
            img.starts(alt='stars' src='./media/icon/stars.svg')
            .text Over 5,000 5-star ratings in Chrome store