.home-main
    .container
      .row
        .col-8.offset-2
          h1.home-main__title Couponation
          .home-main__desc Find your coupon here
          form.home-main__form
            input(type='submit' value='')
            input(type='text' placeholder='Find brands or store and save some money')
          .home-main__example For example: #[a.example__link(href='#') Adidas], #[a.example__link(href='#') iHerb], #[a.example__link(href='#') Nike], #[a.example__link(href='#') Samsung], #[a.example__link(href='#') Xiaomi]