extends ../layout/main-content

block variables
  - const pageTitle = 'Наши проекты'

block content
  include ../modules/case-modal

  .cases
    .container
      .row
        .col-12
          h1.cases__title.decor-title Кейсы
      .row
        .col-6.col-md-12
          .cases__item
            .case-photo(style='background-image: url(../media/image/cases/1.jpg)')
            .case-text
              .name Название обьекта
              .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis bibendum ut tristique. Sed augue lacus viverra vitae. Ut pharetra sit amet aliquam id. Nisl nisi scelerisque eu ultrices vitae auctor eu.
              .more-btn
                .text Подробнее
                .arrow
        .col-6.col-md-12
          .cases__item
            .case-photo(style='background-image: url(../media/image/cases/1.jpg)')
            .case-text
              .name Название обьекта
              .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis bibendum ut tristique. Sed augue lacus viverra vitae. Ut pharetra sit amet aliquam id. Nisl nisi scelerisque eu ultrices vitae auctor eu.
              .more-btn
                .text Подробнее
                .arrow
        .col-6.col-md-12
          .cases__item
            .case-photo(style='background-image: url(../media/image/cases/1.jpg)')
            .case-text
              .name Название обьекта
              .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis bibendum ut tristique. Sed augue lacus viverra vitae. Ut pharetra sit amet aliquam id. Nisl nisi scelerisque eu ultrices vitae auctor eu.
              .more-btn
                .text Подробнее
                .arrow
  include ../modules/main-form