extends ../layout/main

block variables
  - const pageTitle = 'ГНБ БУРЕНИН'

block content
  .main-block(style='background-image: url(../media/image/single.jpg);')
    img.decor(src='../media/icon/rect2.svg' alt='rect')
    .container
      .row
        .col-12.col-lg-6
          h1.main-block__title ГНБ бурение
          .main-block__desc Горизонтально направленное бурение успешно применяется в прокладке подземных коммуникаций.
          .main-button.main-button--color.main-block__button Заказать услугу

  include ../modules/single-services/calc

  include ../modules/single-services/table-price

  .about-service
    .container
      .row
        .col-12.col-lg-6
          .about-service__title.decor-title Об услуге
          .about-service__desc Метод горизонтально-направленного бурения используется в различных целях:
          .about-service__list-item Прокладка трубо-, газопроводов, электрических кабелей и других коммуникаций к зданиям
          .about-service__list-item Формирование скважин для добычи нефти и других полезных ископаемых;
          .about-service__list-item Замена устаревших коммуникаций и оборудования;
          .about-service__list-item Обустройство подземных магистралей.
        .col-6.col-lg-3
          img.about-service__image.about-service__image--first(alt='img' src='../media/image/some-pick1.jpg')
        .col-6.col-lg-3
          img.about-service__image(alt='img' src='../media/image/some-pick2.jpg')



  .order-now
    img(alt='rect' src='../media/icon/rect3.svg').order-now__rect-top
    img(alt='rect' src='../media/icon/rect3.svg').order-now__rect-bottom

    .container
      .row
        .col-8.col-sm-7.col-md-10.col-lg-6
          .order-now__title Закажите бурение прямо сейчас
          .order-now__button.main-button.main-button--color Заказать услугу


  .advantage
    .container
      .row
        .col-12.col-lg-6
          .advantage__left
            .advantage__title.decor-title Преимущества
            .advantage__list-item При использовании способа ГНБ стоимость аналогичных работ понижается в 2-3 раза
            .advantage__list-item Разрушения на поверхности сводятся к минимуму (необходимо вырыть только 2 котлована)
            .advantage__list-item Для проведения работ необходима небольшая бригада из 3-5 человек
            .advantage__list-item Оборудование для бурения мобильно, легко доставляется и устанавливается на место ведения работ
            .advantage__list-item Метод ГНБ позволяет быстрее и дешевле оборудовать коммуникации, благодаря чему технология обрела высокую популярность повсеместно
            .advantage__list-item Разрушения на поверхности сводятся к минимуму (необходимо вырыть только 2 котлована)
            .advantage__list-item Для проведения работ необходима небольшая бригада из 3-5 человек
            .advantage__list-item Оборудование для бурения мобильно, легко доставляется и устанавливается на место ведения работ.

        .col-12.col-lg-6
          .advantage__right
            .advantage__title особенности
            .advantage__list-item Бурение, особенно наклонное, нельзя проводить на монолитных скальных участках или в грунте с большой концентрацией твердых включений, а также в почве с высоким водонасыщением.
            .advantage__list-item Серьезным препятствием к прокладке коммуникаций данным методом могут стать подземные преграды.
            .advantage__list-item С помощью установки горизонтального бурения невозможно изменить направление тоннеля два и более раза на одном коротком участке (до 5 метров). Изгиб буровой штанги для этого недостаточен.
            .advantage__list-item Если необходимо проложить трубопровод высокой протяженности или на большой глубине, бестраншейный способ обходится дороже;
            .advantage__list-item Максимальная длина для стандартных установок ГНБ составляет 350-400 м, в случае прокладки более длинных трубопроводов, придется делать стыки.

  .stage-work
    .container
      .row
        .col-12
          .stage-work__title Этапность работ

          .stage-work__tabs
            .tab-nav
              .tab-nav__item.active(data-link='first')
                span.number 01
                span.name Подготовительный этап
              .tab-nav__item(data-link='pilot')
                span.number 02
                span.name Бурение пилотной скважины
              .tab-nav__item(data-link='width')
                span.number 03
                span.name Расширение скважины
              .tab-nav__item(data-link='close')
                span.number 04
                span.name Затягивание трубопровода или футляра
              .tab-nav__item(data-link='finish')
                span.number 05
                span.name Сдача работ



            .tab-body.active#first
              img(src='../media/image/some-pick1.jpg' alt='image').tab-body__image
              .tab-body__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .tab-body#pilot
              img(src='../media/image/some-pick2.jpg' alt='image').tab-body__image
              .tab-body__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .tab-body#width
              img(src='../media/image/single.jpg' alt='image').tab-body__image
              .tab-body__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .tab-body#close
              img(src='../media/image/bg.jpg' alt='image').tab-body__image
              .tab-body__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .tab-body#finish
              img(src='../media/image/about-bg.jpg' alt='image').tab-body__image
              .tab-body__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  include ../modules/cases-slider

  include ../modules/main-form